label {
  display: block;
}
input#title {
  width: 40em;
}
textarea {
  height: 10em;
  width: 55em;
}
body {
  text-align: center;
  background: #222;
  background-image: url("images/nightbg.jpg");
  background-size: cover;
  color: white ;
}
fieldset {
  margin-top: 10px;
}
#wrapper {
  width: 800px;
  margin: 10px auto;
  text-align: left;
  border: 1px solid grey;
  padding: 20px;
  background: #969CBA;
  align-items: center;
}
div.blog_post h2 a,
div#header h1 a {
  text-decoration: none;
  color: white;
}
div#header h1 {
  margin: 0;
  font-size: 2.5em;
  text-align: left;
  flex-grow: 1;
}

div#header form {
  margin: 0;
  text-align: right;
  align-items: center;
}

div.blog_post h2 {
  margin-bottom: 0;
}
div.blog_post p {
  margin-top: 0;
}
div.blog_post div.blog_content p {
  margin-top: 0.5em;
}

.menu{
  padding-left: 0;
  list-style: none;
  margin-bottom: 4px;
}

.menu li{
  display: inline;
}

.menu li a{
  padding: 5px 10px;
}

.menu li a.active {
  border: 2px solid grey;
  background: #999;
  color: white;
  text-decoration: none;
  font-weight: 700;
}
.menu li a:hover {
  background: #aaa;
  color: white;
}

ul#menu li {
  display: inline;
}
ul#menu li a {
  padding: 5px 10px;
}

ul#menu {
  padding-left: 0;
  list-style: none;
  margin-bottom: 4px;
}
ul#menu li a.active {
  border: 2px solid grey;
  background: #999;
  color: white;
  text-decoration: none;
  font-weight: 700;
}
ul#menu li a:hover {
  background: #aaa;
  color: white;
}
div#all_blogs {
  border: 2px solid grey;
  padding: 0 10px 10px;
}
h1,
h2 {
  font-family: Cambria, times, serif;
}
div.blog_content {
  font-family: Calibri, sans-serif;
}
div#footer {
  text-align: right;
  margin-top: 10px;
}

.user{
  border: 2px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
}

.tagButton{
  background-color: greenyellow;
}

.redButton{
  background-color: red;
}

.greenButton{
  background-color: greenyellow;
}