body {
    font-family: Arial, sans-serif;
    padding: 20px;
  }
  
  h2 {
    text-align: center;
  }
  
  form {
    max-width: 500px;
    margin: 0 auto;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
  }
  
  label {
    display: flex; /* use flexbox to align label and checkbox */
    align-items: center; /* vertically center label and checkbox */
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  label[for="remember"] {
    justify-content: space-between; /* align checkbox to right */
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  input[type="checkbox"] {
    margin-left: 10px; /* add some margin to the left of the checkbox */
  }
  
  input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  input[type="submit"]:hover {
    background-color: #3e8e41;
  }
  